<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/']">
      <ion-img src="/logo.png" alt="Logo" style="height: 40px" />
    </ion-buttons>

    <ion-title>{{ pageTitle$ | async }}</ion-title>

    <ion-buttons slot="end" class="avatar-button">
      @if (authState$ | async; as user) {
      <ion-label>👋 {{ user.displayName || user.email || "Guest" }}</ion-label>

      <ion-button (click)="openSettings()">
        @if (user.photoURL) {
        <ion-avatar style="height: 40px; width: 40px">
          <img [src]="user.photoURL" alt="Avatar" /> </ion-avatar
        >} @else {
        <ion-icon [src]="personIcon" slot="icon-only"></ion-icon>
        }
      </ion-button>
      <!-- @if (user.isAnonymous) {
      <ion-button (click)="logout()">
        <ion-icon [src]="logoutIcon" slot="icon-only"></ion-icon>
      </ion-button>
      } @else {
      <ion-button [routerLink]="['/login']">
        <ion-icon [src]="personIcon" slot="icon-only"></ion-icon>
      </ion-button>
      } -->
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
