.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background: linear-gradient(
    to bottom right,
    rgba(36, 21, 30, 255) rgba(0, 0, 0, 0.6)
  );
  /* background: rgba(0, 0, 0, 0.6); */
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  color: white;
}

.logo {
  width: 48px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(0, 163, 225, 0.5);
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: 0 0 20px #00a3e1;
  transform: scale(1.1);
}

.spacer {
  flex: 1;
}

.welcome {
  margin-right: 16px;
}
