<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      @if (features$ | async; as features) { @for (feature of features; track
      feature.id) {
      <ion-col size="6" size-md="4" class="ion-text-center">
        <ion-card [routerLink]="feature.route">
          <ion-card-content>
            <ion-icon [name]="feature.icon" size="large"></ion-icon>
            <p>{{ feature.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      } }
    </ion-row>
  </ion-grid>
</ion-content>

<app-bottom-toolbar></app-bottom-toolbar>
