<app-header></app-header>

<ion-content class="ion-padding">
  @if (worldRecipes.length === 0) {
  <ion-text color="medium">
    <h2>No recipes available yet.</h2>
  </ion-text>
  } @else {
  <ion-list>
    @for (recipe of worldRecipes; track recipe.id) {
    <ion-card (click)="viewRecipe(recipe)">
      <ion-card-header>
        <ion-card-title>{{ recipe.beans }}</ion-card-title>
        <ion-card-subtitle
          >{{ recipe.country }} - {{ recipe.year }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-text color="medium">
          {{ recipe.method }}
        </ion-text>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }

  <!-- Modal for selected recipe -->
  <ion-modal [isOpen]="!!selectedRecipe" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title
            >{{ selectedRecipe?.beans }} -
            {{ selectedRecipe?.country }}</ion-title
          >
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item>
            <ion-label>
              <h3>Grinder</h3>
              <p>{{ selectedRecipe?.grinder }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>Filter</h3>
              <p>{{ selectedRecipe?.filter }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>Ingredients</h3>
              <p>{{ selectedRecipe?.ingredients }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h3>Steps</h3>
            </ion-label>
          </ion-item>
          @for (step of selectedRecipe?.steps?.split(','); track step) {
          <ion-item>
            <ion-label>{{ step }}</ion-label>
          </ion-item>
          }
        </ion-list>

        <ion-button
          expand="block"
          color="primary"
          (click)="followSelectedRecipe()"
        >
          👣 Follow This Recipe
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<app-bottom-toolbar></app-bottom-toolbar>
