<app-header></app-header>

<ion-content class="ion-padding">
  @if (worldRecipes.length === 0) {
  <ion-text color="medium">
    <h2>No recipes available yet.</h2>
  </ion-text>
  } @else {
  <ion-list>
    @for (recipe of worldRecipes; track recipe.id) {
    <ion-card (click)="viewRecipe(recipe)">
      <ion-card-header>
        <ion-card-title>{{ recipe.beans }}</ion-card-title>
        <ion-card-subtitle
          >{{ recipe.country }} - {{ recipe.year }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-text color="medium">
          {{ recipe.method }}
        </ion-text>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }
</ion-content>
<app-bottom-toolbar></app-bottom-toolbar>
