<app-header></app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Dose (g)</ion-label>
    <ion-input type="number" [(ngModel)]="dose"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Yield (g)</ion-label>
    <ion-input type="number" [(ngModel)]="yield"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">TDS (%)</ion-label>
    <ion-input type="number" step="0.01" [(ngModel)]="tds"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="calculate()">Calculate</ion-button>

  @if (result !== null) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>💡 Extraction Yield</ion-card-title>
      <ion-card-subtitle>
        <strong>{{ result.toFixed(2) }}%</strong>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p [style.color]="getFeedback().color">
        {{ getFeedback().text }}
      </p>
    </ion-card-content>
  </ion-card>
  }
</ion-content>

<app-bottom-toolbar></app-bottom-toolbar>